@import 'styles/variables';
@import 'styles/breakpoints';

.container {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 4px;

  .wrap-input {
    background-color: $grey;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
    min-height: 42px;
    padding: 0 15px;
    width: 400px;
    max-width: 100%;
    border: 2px solid $grey;
    &:focus-within {
      border-color: $dark;
    }

    input {
      background-color: $grey;
      border: none;
      outline: none;
      width: 100%;
      &::placeholder {
        color: #020202;
      }
    }
  }
}
